table {
    border-collapse: collapse;
    width: 70%;
    margin: 15%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
th {
    text-align:left ;
}
#title {
    border-top: solid;
}