
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>這什麼 到底什麼網頁</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    
    <header role="banner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand " href="index.html"><%= title %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav pl-md-5 ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="index.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">dbdemo</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  <a class="dropdown-item" href="services.html">Description</a>
                  <a class="dropdown-item" href="midterm.html">midterm project</a>
                  <a class="dropdown-item" href="services.html">GuoDong Gallery</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="TKU/index.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TKU</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="TKU/index.html">TKU Demo</a>
                    <a class="dropdown-item" href="TKU/Schedule.html">My Class</a>
                    <a class="dropdown-item" href="TKU/Resume.html">My Resume</a>
                  </div>
                </li>
            </ul>

          
          </div>
        </div>
      </nav>
    </header>
    <!-- END header -->

    <div class="top-shadow"><div class="slider-item" style="background: url('/images/nyan cat.gif'); background-size: cover;">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-5 text-center col-sm-12 element-animate">
            <h1 class="mb-4"><span style="border:2px dashed #212121; ;font-weight: bold; ">衝擊性畫面注意</span></h1>
            <p class="mb-5 w-75">(˘･ω･˘)</p>
          </div>
        </div>
      </div>
    </div></div>
  
  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background: url('/images/hooooo.gif'); background-size: cover;">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-5 text-center col-sm-12 element-animate">
            <div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://www.youtube.com/watch?v=AhMhjkYMU5k" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>
            <h1 class="mb-4"><span style="text-decoration:line-through">人類重要歷史片段</span><div>*注意音量*</div></h1>
            <p class="mb-5 w-75"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-item" style="background: url('/images/AAAAA.gif'); background-size: cover; ">
      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-lg-7 text-center col-sm-12 element-animate">
            <div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://youtu.be/KrFCTcms27k" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>
            <h1><span>調音界一代傳奇最佳力作 <p class="text-lowercase">feat.國動</p></span></h1>
            <p class="mb-5 w-75">原曲：DJ YOSHITAKA - FLOWER</p>
          </div>
        </div>
      </div>
      
    </div>

  </section>
    <!-- END slider -->
    </div>
    
    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 element-animate "style="background: url('/images/hooyu.gif'); background-size: cover;">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-bookmark text-primary"></span></div>
              <div class="media-body" >
                <h3 class="heading">沒國動，就暴動</h3>
                <p style="color: white;">傳說古代有一名男子前往山上打獵，山上十分寒冷，他發現一隻快凍死的花豹，他不忍心花豹活活凍死，於是他掏出身上的梅子果凍餵食花豹，史稱：「梅果凍，救豹凍」。</p>
              </div>
            </div>  

          </div>
          <div class="col-md-6 col-lg-4 element-animate "style="background: url('/images/dontwin.gif'); background-size: cover;">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">不想贏，就不要贏</h3>
                <p style="color: white;">昔有猛將郭凍，治軍有方，待部眾如己出，每逢戰事告捷、皆將朝廷所賜銀兩布匹賞諸，未嘗獨享。眾將感之，謂之其「布銀將軍」。後為奸人誣，遭貶為民，其舊部升將軍，因念其德，以銀鑲布為信物，暗邀歸營，仍以將軍之禮之、傳為佳話。後人稱頌，便有云：「布鑲銀，舊部邀營」</p>
              </div>
            </div> 

          </div>
          <div class="col-md-6 col-lg-4 element-animate "style="background: url('/images/shushushu.gif'); background-size: cover;">
            <div class="media block-6 d-block text-center">
              <div class="icon mb-3"><span class="ion-leaf text-primary"></span></div>
              <div class="media-body">
                <h3 class="heading">聊天室 滑起來</h3>
                <p style="color: white;">
                  有一愛柿者，名華起。而新埔柿多，其柿尤為甜，其民亦以其柿為傲。每次鄉儻聊甜柿時，華起便現，頌柿何甜何美，如晨間之甘露，如初秋之彎月，足足三日有餘，竟不忍去留。爾後鄉間便形成一句佳話:「聊甜柿，華起來。」</p>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->
    <!-- END section -->

    <section class="section bg-light block-11">
      <div class="container"> 
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">國棟語錄</h2>
          </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">
          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="/images/person_3.png" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">張葦航</h2>
                    <span class="meta">鼻地大師</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; 墮胎屬叔 AAAAAAAAAAAA 一打二 瑞斯 瑞斯一打三(破音) AAAAAAAAAAAAAA 幹他媽在BANG
                      我牙素阿 操
                      屬叔開墮囉 欸 你 喔齁齁 你到底在 哇OOOOOOOOOOOO 這什麼到底什麼閃現 侯喔齁齁齁
                      又死一次 AAAAAAAAAAAAA 籃框 A A A 三個 RRRRRRRRRRR 幹我差一點外圈就可以捲出去
                      我就贏了 喔喔齁齁齁 &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="/images/person_2.png" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">張葦航</h2>
                    <span class="meta">台服改革家</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; 呦呼 劃劃劃劃 滑起來 通通給我滑起來 SHUT DOWN 滑 起 來 通通給我滑起來 滑起來
                      DEATH IS LIKE THE WIND 哈哈 又CARRY了一場 媽的 哈哈哈哈
                      哈撒ㄎㄧ 哈撒ㄎㄧ 哈哈哈哈 哈哈哈哈 又贏了 爽阿 聊天室滑起來 通通給我滑起來
                      GG 牙素 第二勝到手 哈哈咻咻咻咻咻咻咻 咻 &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="/images/person_1.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">張葦航</h2>
                    <span class="meta">A.K.A瘋狗</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; 
                      給庫痾痾痾痾痾痾 給庫痾痾痾痾痾痾 阿給 給庫 給庫 給ㄎ 阿哈 為什麼 為什麼不幫我
                      發大絕 極靈
                      嚕R 墮 嚕R 搭波kill 巨槌瑞斯 誇爪 哈哈哈哈 阿哈哈哈 嗯RRRRRRRRRR
                      嚕RRRRRRRRRRRRRR 還敢下來阿冰鳥 嚕RRRRRRRRRRRRRR 老爸墮起來 搭波kill 哈哈哈哈
                      哈哈哈哈哈哈
                      嚕RRRRRRRRRRRRRR 嚕RRRRRRRRRRRRRR 嬰兒 嚕RRRRRRRRRRRRRR 搭波KILL 達瑞斯
                      &^^^%%##$#%@$#@# 阿$#$%#%$$^u&^%##@ 阿ㄅㄅㄅ不要不要不要不要
                      有囉 這一波有囉 哈撒ㄎㄧ 吹起來 聊天室滑起來 滑起來 DEATH IS LIKE THE WIND
                      ALWAYS BY MY 賽 牙索開滑
                      呼呼赫赫赫赫 地板很滑的阿 嘿嘿嘿嘿嘿嘿嘿
                      哈哈哈又要死囉 飛起來 哈哈哈哈 哈哈哈哈 爽阿 滑哥 &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>

          <div class="item">
            <div class="block-33 h-100">
                <div class="vcard d-flex mb-3">
                  <div class="image align-self-center"><img src="/images/person_4.jpg" alt="Person here"></div>
                  <div class="name-text align-self-center">
                    <h2 class="heading">張葦航</h2>
                    <span class="meta">國動</span>
                  </div>
                </div>
                <div class="text">
                  <blockquote>
                    <p>&rdquo; 給庫 哈哈哈 FIRST BLOOD 嗚度度度 抓到你囉 還敢他媽藍開嘿嘿嘿嘿 給庫FIRST
                      BLOOD 哈哈 咻
                      得勒得得得得得得得勒得得勒得勒得 乞丐大劍 轟
                      哈咖呦 劃劃劃劃 滑起來 HEHE
                      幹拎娘 RRRRRRRRRRR R呼 呼呼呼 呼嗚 好爛喔 你好爛喔 &ldquo;</p>
                  </blockquote>
                </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- END .block-4 -->
    </section>

    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About Us</h3>
            <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. .</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5 pl-md-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span >34 Street Name, City Name Here, United States</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span >+1 242 4942 290</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span >info@yourdomain.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="#">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
             <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>

    <script src="/js/main.js"></script>
    
  </body>
</html>